<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <!-- set viewport to show page correctly on movile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OSM/pgRouting Playground</title>

    <!-- Bootstrap css styles-->
    <link href="includes/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- 引用 OpenLayers 样式文件 -->
    <link rel="stylesheet" type="text/css" href="includes/ol3/ol.css">


    <!-- 引用自定义样式 -->
    <link rel="stylesheet" type="text/css" href="style/style.css" >
    <link rel="stylesheet" type="text/css" href="style/mapstyle.css">
    <link rel="stylesheet" type="text/css" href="style/popup.css">
    <link rel="stylesheet" type="text/css" href="style/controlstyle.css">


</head>

<body>
<!-- header & navbar -->
    <header class="top" role="header">
                    <div class="container">

                        <a href="index.html" class="navbar-brand pull-left">
                            OSM/pgRouting Playground
                        </a>


                        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                        <nav class="navbar-collapse collapse" role="navigation">
                            <ul class="navbar-nav nav">
                                <li><a href="index.html"><span class="glyphicon glyphicon-home" title="index"></span> index</a></li>
                                <li><a href="isochrone.html"><span class="glyphicon glyphicon-map-marker"></span> Isochrone</a></li>
                                <li><a href="about.html"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="middle">
    <div class="container">
        <div class="col-md-6 content">

        <h2>About this site</h2>
            <p>
                This is a web application built on top of the routing extension for PostGIS: pgRouting, using data extracted from Openstreet Map.
            </p>

            <h2>The Data</h2>
            <p>OSM planet data downloaded from <a href="https://mapzen.com/metro-extracts/">Metro Extracts</a>, covering the area around the city of Shanghai.

            <h2>The Tools</h2>
            OSM data imported into <a href="http://postgis.net/">PostGIS</a> with <a href="http://pgrouting.org/docs/tools/osm2pgrouting.html">osm2pgrouting</a>. Routing service powered by <a href="http://pgrouting.org/">pgRouting</a>. Web mapping based on <a href="http://geoserver.org/">GeoServer</a> and <a href="http://openlayers.org/">OpenLayeres 3</a>.</p>

            <h2>The Code</h2>
            Source code of this site is available at a public repository hosted on <a href="https://bitbucket.org/qianyanseu/qianyanseu.bitbucket.org">bitbucket.org</a>.

        </div>
    </div>
</div>




<!-- footer -->
<div id="footer">
    <div class="container">

            <!-- <h3><span class="glyphicon glyphicon-star"></span>版权声明</h3> -->
            <p class="text-muted"><a href="http://www.thegisguy.tk">Yan Qian</a>, 2014</p>

    </div>
</div>

<!-- "添加 jquery 脚本" -->
<!-- 将 <script> 放到页面底端（body 标签结束前），可以节省页面加载时间。-->
<script src="{% static 'silkroad/includes/jquery/jquery-1.11.0.js' %}" type="text/javascript"></script>
<script src="{% static 'silkroad/includes/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!-- 将 <script> 放到页面底端（body 标签结束前），可以节省页面加载时间。-->
    <!-- "添加 jquery 脚本" -->
    <script src="{% static 'silkroad/includes/jquery/jquery-1.11.0.js' %}" type="text/javascript"></script>
    <script src="{% static 'silkroad/includes/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'silkroad/includes/bootstrap-switch/bootstrap-switch.js' %}" type="text/javascript"></script>

    <!-- google analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56348757-1', 'auto');
          ga('send', 'pageview');

        </script>

</body>
</html>
