#loadProgBar{
    width:102%;height:1%;max-height:15px;min-height:7px;position:fixed;top:0%;left:-1%;background-color: transparent;
}
#leftProgBar{
    -moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius:15px;float:left;height:100%;width:0%;border: solid 1px; background-color: #39b3d7;
}
#pageArrow{
    visibility:hidden;width:50px;height:60px;margin-left:-25px;left:50%;bottom:50px;position:fixed;background-color:transparent;z-index:9999;-webkit-animation-duration: 2s !important;-webkit-transition-delay: 0s !important;
}
#pic-back{
    position:fixed;width:100%;height:100%;top:0px;left:0px;visibility: hidden;
}
@media only screen and (max-width: 1100px){
    #fullpage{
        width: 100%;
        height: 100%;
        display: none;
    }
}

@media only screen and (min-width: 1100px){
    #fullpage{
        width: 1100px;
        height: 100%;
        margin-left:auto;
        margin-right:auto;
        display: none;
    }
}

/*翻页中的单页*/
#fullpage .section{
    width:100%;height:100%;position:relative;
}

.section{
    text-align: center;
    width: 100%;
    height: 100%;
    position:relative;
}
.section img{
    margin-left: auto;
    margin-right: auto;
}
/*下翻页的箭头*/
.next-page-tip-2 {
    position: absolute;
    width: 100%;
    height: 8%;
    bottom: 5%;
    background: none;
    z-index: 10;
    padding:0;
    text-align:center;
    pointer-events: none;

    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
}
.next-page-tip-2 img{
    position:absolute;opacity: 1;width:5%;height:100%;margin:0;
}

/*每个section中隐藏的标识动画效果的div*/
.marksectype{
    display: none;
}

/*整个尾页包含标题和信息的区域*/
.section .end-content-div{
    width:100%;height:100%;position:absolute;top:0px;
}

/*尾页背景*/
.section .end-back{
    height:100%;width:100%;
}

/*尾页的标题栏*/
.section .end-head{
    min-width:78px;overflow: hidden;
    position:absolute;left:39.5%;width:21%;max-height:100px;height:5%;margin:0 auto;background-color:#000000;text-align: center;font: bold 2em arial,sans-serif;color:white;
}

/*尾页的信息栏*/
.section .end-content{
    overflow: hidden;
    position:absolute;text-align:center;width:100%;max-height:100px;height:5%;margin:0 auto;text-align: center;font: 1.5em arial,微软雅黑;color:rgb(79,78,83);
}

/*尾页的更多信息链接*/
.section .end-more{
    min-width: 297px;
    position:absolute;top:82%;width:36%;height:8%;margin:0 auto;text-align: center;font: 3em arial,sans-serif;color:rgb(150,150,150);border: black solid 1px;
}

@media only screen and (min-width: 818px){
    /*尾页的更多信息链接*/
    .section .end-more {
        left:32%;
    }
}

@media only screen and (max-width: 818px){
    /*尾页的更多信息链接*/
    .section .end-more {
        width:296px;
        margin-left: -148px;
        left:50%;
    }
}

/*图文页背景*/
.section .pic-des-back{
    height:100%;width:100%;
}

/*图文页包括图片和文字的总区域*/
.section .pic-des-div{
    width:100%;margin: 0%;text-align:left;overflow: hidden;height:100%;padding:0;background-color: transparent;
}

.section .pic-des-div .pic-des-picdiv{
    overflow: hidden;margin: 2% 2% 0px 2%;width:96%;
}
.section .pic-des-div .pic-des-des{
    width:96%;margin:0 2% 2% 2%;
}
.section .pic-des-div .pic-des-des p{
    margin-left:0px;margin-right:0px;
}

/*目录页背景*/
.section .catalog-back{
    height:100%;width:100%;
}

/*目录页包含标题和信息的总区域*/
.section .catalog-content-div{
    width:100%;height:100%;position:absolute;top:0px;
}

/*目录页标题*/
.section .catalog-head{
    position:absolute;left:39.5%;width:21%;max-height:100px;height:5%;margin:0 auto;background-color:#000000;text-align: center;font: bold 2em arial,sans-serif;color:white;
}

/*目录页信息*/
.section .catalog-content{
    position:absolute;text-align:center;width:100%;max-height:100px;height:5%;margin:0 auto;text-align: center;font: 1.5em arial,微软雅黑;color:rgb(79,78,83);
}

/*目录页描述内容*/
.section .catalog-content-detail{
    overflow: hidden;
    position:absolute;top:76%;text-align:center;left:20.5%;width:59%;height:22%;margin:0 auto;text-align: left;font:bold 1.8em arial,微软雅黑;color:rgb(79,78,83);
}


.section .cover-top{
    width:100%;margin:0px;padding:0px;position:relative;
}
.sectionp img{
    width:100%;height:100%;margin:0px;padding:0px;
}
.section .cover-top .cover-location{
    position: absolute;
}
.section .cover-top .cover-date{
    position: absolute;
}
.section .cover-center{
    width:100%;margin:0px;padding:0px;text-align: center;overflow:hidden;position:relative;width:100%;
    background-size:100% 100%;
}
.section .cover-center .cover-centleft{
    width:2.7%;margin:0px;padding:0px;height:100%;float:left;
}
.section .cover-center .cover-centcent{
    width:94.6%;display: inline;margin:0px;padding:0px;overflow: hidden;text-align:center;position:relative;float:left;height:100%;
}
.section .cover-center .cover-centcent img{
    width:100%;height:100%;
}
.section .cover-center .cover-centright{
    width:2.7%;display: inline;margin:0px;padding:0px;height:100%;float:left;
}
.section .cover-bottom{
    width:100%;height:3%;background-color: #f0f1f5;
}
/*封面位置*/
.section .cover-location{
    position: absolute;width: 24%; height:15%;left:37.96%;top:75%;text-align: center;font: bold 1.3em arial,微软雅黑;color:black;
}

/*封面日期*/
.section .cover-date{
    position: absolute;width: 24%; height:15%;left:37.96%;top:85%;text-align: center;font: 1.5em arial,微软雅黑;color:rgb(79,78,83);
}