html, body {
    width: 100%;
    height: 100%;

    background-color: black;
}

body {
    position: relative;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Optionally center */
.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button {
  z-index:99999;
}

video::-webkit-media-controls {
    display:none !important;
}

#SUV {
    margin: auto auto;
}

#buttons {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    width: 100%;
    height: 50%;

    z-index: 99;
}

#buttons ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: 50%;
}

#buttons ul li {
    display: inline;

    margin: 5px 10px 5px 10px;

}

#buttons ul li a{
    /*
    cursor: pointer;
    text-decoration: none;
    font-size: large;
    color: white;*/
}

/*
.button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-radius: 5px;
}
*/

#button-replay
{
    /* background-color: #ffff00; */


}

#button-forward {
    -webkit-animation-iteration-count: infinite;
}

