html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

#map_div_middle {
    width: 100% !important;
    height: 90% !important;
    margin-top: 18px;
}
#map_div_container
{
    width: 100% !important;
    height: 100% !important;
}

#map_div_content
{
    height: 100% !important;

}


.btn-group {
    padding-bottom: 8px;
}

.map_header {
    padding-bottom: 8px;
}
#map-element {
    /* width: 100%; */
    height: 90%;
    /* padding-top: 5px; */
    margin: auto !important;
    padding: 0px;
    background-image: url(../resources/background/textured_paper.jpeg);
    box-shadow: 10px 10px 5px #888888;
    position: relative;
}

#route_detail {
    height: 90%;
    /* padding: 8px; */
    /* margin-left: 8px; */
    box-shadow: 10px 10px 5px #888888;
    display: none;
    overflow: scroll;
    /*z-index: 10;*/
}

#route_detail-meta {
    font-size: large;
}

.olControlLayerSwitcher .layersDiv {
    background-color: #428bca !important;
}
.map_alert {
    position: fixed;
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    /*top: 50px;
    left: 0;
    right: 0;
    */
    /* width: auto; */
    max-width: 800px;
    /*margin: auto;*/
    /* margin-left: auto; */
    z-index: 5;
    text-align: center;
    /* margin-right: auto; */
    /*left: 50%;*/
    /*width: 500px;*/
    /*margin-left: -250px;*/
}
.search_prompt {
    position: absolute;
    top: 40px;
    /* border: solid 1px; */
    z-index: 5;
    padding: 0;
}
.search_prompt strong {
    font-family: "Hiragino Sans GB", "Microsoft JhengHei", "WenQuanYi Micro Hei", sans-serif;
}

#route_search_prompt {
    background: #fff;
    border: 1px solid #ddd;
}

#measure-toggle-box {
     top: 4.5em;
     z-index: 1;
}

#measure-toggle {
     display: block;
     margin: 1px;
     height: 1.375em;
     width: 1.375em;
     border-radius: 2px;
     background-color: rgba(0,60,136,0.5);
     background-image: url(../icons/measure-480-white 20x20.png);
     background-repeat: no-repeat;
     background-position: center;
}

#measure-toggle:hover {
  background-color: rgba(0,60,136,0.7);
}

#coordinates-label {
     position: absolute;
     left: 0;
     bottom: 0;
     background: rgba(0,60,136,0.3);
     padding: 3px;
     color: white;
     z-index: 1;
     /*border-radius: 0 10px 0 0;*/
}

#cesiumCreditContainer {
    visibility: false; !important
}

#cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
    z-index: -10;
}
