html {
    background-color: silver;
    min-height: 100%;
}
.top {
    /*background-color: cornsilk;*/
    /*background-color: FloralWhite;*/
    /*background-color: silver;*/
    background-color: #428bca;
    color: white;
    font-family: "Hiragino Sans GB", "Microsoft JhengHei", "WenQuanYi Micro Hei", sans-serif;
}

/*
.navbar-nav {
    background: #3276b1;
}
*/
.top a {
    color: white;
}
.banner {
    background: url('../img/banner.jpg') center;
    background-repeat: no-repeat;

    height: 180px;
    /*background-color: brown;*/
    background-color: rgb(217, 205, 145);
    color: white;

    /*
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    */
    text-shadow: rgba(0, 0, 0, 0.5) 2px 3px 3px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Hiragino Sans GB", "Microsoft JhengHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: bold;
}

.to-map {
    text-align: center;
    padding: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.posts {
    padding: 8px;
}

.inline-headers h1,
.inline-headers h2,
.inline-headers h3,
.inline-headers h4,
.inline-headers h5,
.inline-headers h6,
.inline-headers a {
  display: inline-block;
  vertical-align: baseline;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.35);*/
    padding: 20px;
    text-align: center;
    display: block;
    color: white;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.info h1 {
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: 150px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
}

.info h1 a {
 color: #fff;
}
.info a:hover{
    text-decoration:none;
}

.info h2 {
  margin-top: 0;
  color: white;
  font-size: 14px;
  font-family: georgia;
  font-style: italic;
}
