html, body {
    width: 100%;
    height: 100%;
}

#target {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: 3;
}

.next-page-tip {
    content: "";
    position: absolute;
    width: 64px;
    height: 115px;
    margin-left: -32px;
    left: 50%;
    bottom: 0;
    z-index: 100;
    background: url(//static01.cloud7.com.cn/assets/a48c584b/content/image/firstpage-icon.png) no-repeat 0 -100px;
    background-size: 100px auto;
    pointer-events: none;

    -webkit-animation-duration: 2.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
}

.next-page-tip-2 {
    position: absolute;
    width: 17px;
    height: 18px;
    bottom: 45px;
    left: 50%;
    margin-left: -8px;
    background: url(//static01.cloud7.com.cn/assets/a48c584b/content/image/firstpage-icon.png) no-repeat 0 0;
    background-size: 100px auto;
    z-index: 10;
    /* display: none; */
    pointer-events: none;

    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
}

#myCanvas {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;

}
