body {
    /*
    background: url("../data/themes/01/default-bg.jpg") top repeat-y;

    -webkit-background-size: 100% auto;;
    -moz-background-size: 100% auto;;
    -o-background-size: 100% auto;;
    background-size: 100% auto;;
    */

    background: url("../data/themes/01/default-bg.jpg") repeat center center fixed;
    /*
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center center;
    */

    /*
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    */


    /* background-size: 100% auto; */
}

#catalogs {
    width: 90%;
    margin: auto;
    text-align: left;
}

.catalog-decoration {
    /*
    margin-top: 1%;
    margin-bottom: 1%;
    */
    margin-left: 0;
    margin-right: 0;
    background-repeat: repeat-x;
    background-image: url("../data/themes/01/catalog-decoration.png");
    width: 100%;

    /* height: 5px; */

    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
}

#catalogs ul li {
    margin-top: 30px;
    /* padding: 8px; */
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    position: relative;
    background-color: rgba(239, 243, 243, 1);
}

.catalog-thumbnail {
    margin: 1%;
    /* margin-left: 1%; */
    width: 30%;
    height: auto;
}

.catalog-name {
    position: absolute;
    left: 33%;
    top: 10%;
    font-size: xx-large;
    text-align: right;

    text-decoration: none;
}

.catalog-name p {
    text-decoration: none;
}

.catalog-detail {
    position: absolute;
    left: 33%;
    bottom: 10%;
    font-size: x-large;
    text-align: right;
    color: rgba(73, 75, 74, 1);
}

