body {


    /*
    background: url("../data/themes/01/index-bg.jpg");/* repeat-y center center fixed;
    background-size: contain;
    background-repeat: none;
    background-position: center center;
    */
    position: relative;
}



#index-menu {
    position: absolute;
    top: 75%;
    /* margin: auto; */

    /*top: 50%; */
    left: 0; /* position the left edge of the element at the middle of the parent */
    right: 0;

}



ul li {
    text-align: center;

    margin-top: 0;
    margin-bottom: 2%;

}

.index-btn {
    width: 40.7%;
    height: auto;
}