body {
    background: url("../data/themes/01/default-bg.jpg") repeat center center fixed;
    width: 100%;
    height: 100%;
}

#carousel {
    width: 100%;
    height: 100%;

    vertical-align: middle;
    /*
    height: 80%;
    position: relative;
    */

    overflow-y: scroll;
}

/*

.am-slides {
    height: 80%;
 }

.am-viewport
{
    height: 80%;
}
*/

.am-active-slide img {
    /*
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    */
}

.slide-image-container {
    display: table-cell;
    vertical-align: middle;
    overflow-y: scroll;
}

.slide-image-container img{
    width: 100%;
    height: auto;
    /* overflow: scroll; */
    overflow-y: scroll;
}
#product-info-banner {
    width: 100%;
    height: auto;

    /* background-color: rgba(30, 30, 30, 0.8); */

}


#product-info {
    opacity: .8;
    /* padding: 0 50px; */
    width: 100%;
    margin: 0 auto;
    z-index:100;

    text-align: left;
    position:absolute;
    bottom: 0;

    left: 0;
    right: 0;

    background-color: rgba(30, 30, 30, 0.8);

    color: white;

    padding-bottom: 20px;


}

.opacity-zero {
    opacity: 0;
}

.product-info-text {
    padding: 20px;
}

#product-name {
    /* text-align: left; */
    font-size: xx-large;
}

#product-description {
    /* overflow: scroll; */
}

/*
#carousel {

    margin: 0 auto;
    text-align: center;
}

.slick-slide img {
    width: 90%;
    vertical-align: middle;
    display: inline-block;
}
*/

/*

#carousel div img{
    width: 100%;
    padding: 20px;

   margin: 0 auto;

}
*/

/*

.slick-slide {
    text-align: center;
}

.slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slick-slide img {
    vertical-align: middle;
    display: inline-block;
}
*/

.slick-slide {
    text-align: center;

}

.slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slick-slide img {
    vertical-align: middle;
    display: inline-block;
}

/*
.am-slides {
    text-align: center;
}

.am-slides::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.am-slides li img {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
*/
