body {
    padding-top: 30px;
    background: url("../data/themes/01/default-bg.jpg") repeat center center fixed;
}





#products {
    width: 100%;

    margin: auto;
    /*
    text-align: center;
    */
}

.msry-item {
    width: 47%;
    background-color: white;
    /* padding: 8px; */
    /* margin: 11px; */
    /* margin: auto; */
    margin: 0 auto;


    border: 3px solid rgb(122, 133, 151);
    outline: 10px solid white;
    text-align: center;


}

.product-thumbnail {
    width: 90%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 1%;
    /*-padding: 8px;*/
}

.product-name {
    margin-top: 11px;
    margin-bottom: 11px;
    font-size: xx-large;
    text-align: right;
}

