body {
    padding: 0;
    margin: auto;
    width: 100%;
    min-height: 100%;
}

.banner {

    margin: 0;
    width: 100%;
    height: auto;

}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

#bottom-nav {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%
    /* display: block; */
}

#bottom-nav ul {
    /* width: 60%; */
    margin: 0 auto;
    padding: 0px;
    text-align: justify;
    width: 90%
}

#bottom-nav ul li {
    display: inline-block;
    width: 49.5%;
    margin: 0;
    padding: 0;
    /* margin: 5%; */
    /* padding-left: 10% */
    /*margin-left: 25%;*/

}

#nav-item-index {
    /*
    margin-right: 2.5%;
    margin-left: 5%;
    */
    text-align: left;

}

#nav-item-call {
    /*
    margin-left: 2.5%;
    margin-right: 5%;
    */
    text-align: right;

}

.nav-btn {
    margin: 0;
    padding: 0;
    width: 90%;
    height: auto;
}





